@model Pmat_PI.Models.Escola

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes da Escola</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Tipo de Escola
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoEscolaNavigation.TipoEscola1)
        </dd>
        <dt class="col-sm-2">
            Nome da Escola
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeEscola)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class="col-sm-2">
            Código Postal
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoPostal)-@Html.DisplayFor(model => model.ExtensaoCodPostal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class="col-sm-2">
            Concelho
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdconcelhoNavigation.Nome)
        </dd>
        <dt class="col-sm-2">
            Freguesia
        </dt>
        <dd class="col-sm-10">
            @if (ViewBag.freguesia != null)
            {
                <span>@ViewBag.freguesia.Nome</span>
            }
            else
            {
                <span>---------</span>;
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ensinos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ensinos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class="col-sm-2">
            Natureza
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gruponatureza)
        </dd>
        <dt class="col-sm-2">
            Código DGEEC
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodDgeec)
        </dd>
        <dt class="col-sm-2">
            Código DGPGF
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodDgpgf)
        </dd>
    </dl>
</div>
<div>
    <dl class="row">
        <dt>
            <a asp-action="Index" class="btn btn-outline-primary"> Voltar à lista de escolas </a>
            <a asp-controller="Users"
               asp-action="Index"
               asp-route-escola="@Model.Id"
               class="btn btn-outline-primary"> Ver alunos e professores </a>
        </dt>
        <dd class="col-sm-3">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning"> Editar </a>
        </dd>
    </dl>
</div>
