@model PaginatedList<Pmat_PI.Models.Escola>


@{
    ViewData["Title"] = "Escolas";
}

<h1>Lista de escolas</h1>

<p style="text-align:center; padding-bottom: 2%; padding-top: 2%">
    <a asp-action="Create" class="btn btn-success">Criar Nova Escola</a>
</p>
<table class="table table-sm table-bordered text-md-center">
    <thead>
        <tr>
            <th> ID</th>
            <th>  Nome de Escola </th>
            <th>  Morada </th>
            <th> Código Postal </th>
            <th> Localidade </th>
            <th> Grupo </th>
            <th> Editar </th>
            <th> Ver Detalhes </th>
            <th> Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEscola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)-@Html.DisplayFor(modelItem => item.ExtensaoCodPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gruponatureza)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn"><i style="font-size:30px; color: orange ;" class="fa fa-pencil"> </i></a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn"><i style="font-size:30px; color: dodgerblue ;" class="fa fa-eye"> </i></a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn"><i style="font-size:30px; color: red ;" class="fa fa-trash"> </i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div style="text-align:center">
    <a style="margin-right:2%" asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-info @prevDisabled">
        Anterior
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-info @nextDisabled">
        Próximo
    </a>
</div>