@model PaginatedList<Pmat_PI.Models.Escola>


@{
    ViewData["Title"] = "Escolas";
}

<h1>Lista de Escolas</h1>
<div class="col-lg-12">
    <div class="form-row">
        <div class="form-actions no-color form-group col-lg-12">
            <form asp-action="Index" method="get">
                <label>Pesquisar escolas por nome, localidade ou codigo postal:</label>
                <div class="form-group" style=" display: block;">
                    <div class="row">
                        <div class="col-lg">
                            <select name="filterType" class="form-control" id="pesquisaSelect" style="display: inline-block;">
                                <option value="" selected> Escolha um filtro </option>
                                <option value="nome">Nome</option>
                                <option value="localidade">Localidade</option>
                                <option value="codigoPostal">Codigo Postal</option>
                            </select>
                        </div>
                        <div class="col-lg">
                            <input type="text" name="searchString" placeholder="Escolas" class="form-control" value="@ViewData["CurrentFilter"]" style=" display: inline-block;" />
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" value="Pesquisa" class="btn btn-primary" style=" display: inline-block;">
                                <i class="fa fa-search"></i>
                            </button>
                            <a asp-action="Index" class="btn btn-outline-info" style=" display: inline-block;"><i class="fa fa-close"></i></a>
                        </div>
                        <div class="col-lg" style="margin:auto">
                            <a asp-action="Create" class="btn btn-success">Criar Nova Escola</a>
                        </div>
                        <input type="hidden" name="pageNumber" value="1">
                    </div>
</form>
        </div>
    </div>
</div>

@if (Model.Count == 0)
{
    <p> Escola(s) não encontrada(s) </p>
}
else
{
    <table class="table table-sm table-bordered  table-hover text-md-center">
        <thead>
            <tr>
                <th style="display: table-cell; vertical-align: middle;"> ID</th>
                <th style="display: table-cell; vertical-align: middle;">
                    Nome de Escola
                </th>
                <th style="display: table-cell; vertical-align: middle;">  Morada </th>
                <th style="display: table-cell; vertical-align: middle;"> Código Postal </th>
                <th style="display: table-cell; vertical-align: middle;"> Localidade </th>
                <th style="display: table-cell; vertical-align: middle;"> Grupo </th>
                <th style="display: table-cell; vertical-align: middle;"> Editar </th>
                <th style="display: table-cell; vertical-align: middle;"> Ver Detalhes </th>
                <th style="display: table-cell; vertical-align: middle;"> Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 2%">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td style="width: 25%">
                        @Html.DisplayFor(modelItem => item.NomeEscola)
                    </td>
                    <td style="width: 25%">
                        @Html.DisplayFor(modelItem => item.Morada)
                    </td>
                    <td style="width: 8.33%">
                        @Html.DisplayFor(modelItem => item.CodigoPostal)-@Html.DisplayFor(modelItem => item.ExtensaoCodPostal)
                    </td>
                    <td style="width:16.66%">
                        @Html.DisplayFor(modelItem => item.Localidade)
                    </td>
                    <td style="width: 5%">
                        @Html.DisplayFor(modelItem => item.Gruponatureza)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn"><i style="font-size:30px; color: orange ;" class="fa fa-pencil"> </i></a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn"><i style="font-size:30px; color: dodgerblue ;" class="fa fa-eye"> </i></a>
                    </td>
                    <td>
                        <a id="deleteModal" data-toggle="modal" data-target="#modal-delete" data-id="@item.Id" class="btn">
                            <i style="font-size:30px; color: red; cursor:pointer" class="fa fa-trash"></i>
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>


    <!-- Success modal-->
    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: forestgreen; bold;">Sucesso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @TempData["successMessage"]
                </div>
            </div>
        </div>
    </div>

    <!--Confirm delete modal-->
    <form asp-action="Delete" role="form" id="myForm">
        <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Apagar Escola</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Deseja realmente apagar esta escola?
                        <input hidden name="id" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                        <button type="submit" class="btn btn-danger" id="modalDeleteButton">Sim</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@if (TempData["successMessage"] != null)
{
    <script>
        $("#mymodal").modal('show');
    </script>
}

<div style="text-align:center">
    <a style="margin-right:2%" asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-searchString="@ViewData["CurrentFilter"]"
       asp-route-filterType="@ViewData["CurrentType"]"
       class="btn btn-info @prevDisabled">
        Anterior
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-searchString="@ViewData["CurrentFilter"]"
       asp-route-filterType="@ViewData["CurrentType"]"
       class="btn btn-info @nextDisabled">
        Próximo
    </a>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#pesquisaSelect option:selected").removeAttr("selected");
            $("#pesquisaSelect option[value='@ViewData["CurrentType"]']").attr('selected', 'selected');
        });

        $("form").on("submit", function (e) {
            dataString = $(this).serialize();
            var params = dataString.split("&");
            if (params[0] == "filterType=" && params[1] != "searchString=") {
                e.preventDefault();
                $("#pesquisaSelect").css("border-color", "red");
                $("#pesquisaSelect").css("color", "red");
            }
        });

        $(function () {
            $('#modal-delete').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var id = button.data("id");
                var modal = $(this);

                modal.find('.modal-content input').val(id);
            });

            $("#modalDeleteButton").click(function () {
                $("#myForm").submit();
            });

        });
    </script>
}