@model PaginatedList<Pmat_PI.Models.Competicao>

@{
    ViewData["Title"] = "Competições";
}
<h1>Lista de Competições</h1>
<div class="col-lg-12">
    <div class="form-row">
        <div class="form-actions no-color form-group col-md-8">
            <form asp-action="Index" method="get">
                <label>Pesquisar competição: </label>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <input type="text" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" />
                    </div>
                    <div class="form-group col-md-2">
                        <button type="submit" value="Pesquisa" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                        <a asp-action="Index" class="btn btn-outline-info"><i class="fa fa-close"></i></a>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group col-md-2" style="padding-top: 3%">
            <a asp-action="Create" class="btn btn-success">Criar Competição</a>
        </div>
    </div>
</div>

@if (Model.Count == 0)
{
    <p> Competições(s) não encontrada(s) </p>
}
else
{
    <table class="table table-sm table-bordered  table-hover text-md-center">
        <thead>
            <tr>
                <th style="display: table-cell; vertical-align: middle;">  Nome </th>
                <th style="display: table-cell; vertical-align: middle;"> Data de Início </th>
                <th style="display: table-cell; vertical-align: middle;"> Data de Fim </th>
                <th style="display: table-cell; vertical-align: middle;"> Etiqueta </th>
                <th style="display: table-cell; vertical-align: middle;"> Editar </th>
                <th style="display: table-cell; vertical-align: middle;"> Ver Provas </th>
                <th style="display: table-cell; vertical-align: middle;"> Ver Escolas </th>
                <th style="display: table-cell; vertical-align: middle;"> Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etiqueta)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn"><i style="font-size:30px; color: orange ;" class="fa fa-pencil"> </i></a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn"><i style="font-size:30px; color: dodgerblue ;" class="fa fa-eye"> </i></a>
                    </td>
                    <td>
                        <a asp-action="VerEscolas" asp-route-id="@item.Id" class="btn"><i style="font-size:30px; color: hotpink ;" class="fa fa-eye"> </i></a>
                    </td>
                    <td>
                        <a id="deleteModal" data-toggle="modal" data-target="#modal-delete" data-id="@item.Id" class="btn">
                            <i style="font-size:30px; color: red;cursor:pointer" class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!--Confirm delete modal-->
    <form asp-action="Delete" role="form" id="myForm">
        <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Apagar Competição</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Deseja realmente apagar esta competição?
                        <input hidden name="id" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                        <button type="submit" class="btn btn-danger" id="modalDeleteButton">Sim</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Success modal-->
    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: forestgreen; bold;">Sucesso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @TempData["msg"]
                </div>
            </div>
        </div>
    </div>
}

@if (TempData["msg"] != null)
{
    <script>
        $("#mymodal").modal('show');
    </script>
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div style="text-align:center">
    <a style="margin-right:2%" asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-info @prevDisabled">
        Anterior
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-info @nextDisabled">
        Próximo
    </a>
</div>

@section scripts{
    <script>
        $(function () {
            $('#modal-delete').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var id = button.data("id");
                var modal = $(this);

                modal.find('.modal-content input').val(id);
            });

            $("#modalDeleteButton").click(function () {
                $("#myForm").submit();
            });

        });
    </script>
}