@model PaginatedList<Pmat_PI.Models.Treino>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Treinos</h1>

<p style="text-align:center; padding-bottom: 2%; padding-top: 2%">
    <a asp-action="Create" class="btn btn-success">Criar Novo Treino</a>
</p>
<table class="table table-sm table-bordered text-md-center">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Data Criacao
            </th>
            <th>
                Tentativas Maximas
            </th>
            <th>
                Tempo Total
            </th>
            <th>
                Numero de Niveis
            </th>
            <th>
                Vidas Por Nivel
            </th>
            <th>
                Elementos da equipa
            </th>
            <th> Editar </th>
            <th> Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxTentJogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoTotalJogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumNiveis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VidasPorNivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumElemsEquipa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn"><i style="font-size:30px; color: orange ;" class="fa fa-pencil"> </i></a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn"><i style="font-size:30px; color: red ;" class="fa fa-trash"> </i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div style="text-align:center">
    <a style="margin-right:2%" asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-info @prevDisabled">
        Anterior
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-info @nextDisabled">
        Próximo
    </a>
</div>