@model Pmat_PI.Models.TreinoEnunciado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Ultimo Nivel
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UltimoNivel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt class="col-sm-2">
            Id Equipa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class="col-sm-2">
            Prova
        </dt>
        <dd class="col-sm-10">
            Id: @Html.DisplayFor(model => model.IdTreino) | @Html.DisplayFor(model => model.IdTreinoNavigation.NomeProva)
        </dd>
    </dl>
</div>

<div>
    <dl class="row">
        <dt>
            <button onclick="history.go(-1); return false;" class="btn btn-outline-primary"> Voltar à lista de enunciados </button>
        </dt>
        <dt style="padding-left:1%">
            @if (ViewBag.but)
            {
            <a asp-action="Recover" asp-route-id="@Model.Id" class="btn btn-success">Recuperar Estado</a>
            }
        </dt>
    </dl>
</div>

<div>
    <h2>Respostas do Utilizador</h2>
    @if (ViewBag.userResps != null)
    {
        <hr />
        <table class="table table-sm table-bordered text-md-center">
            <tbody>

            <thead>
                <tr>
                    <th>
                        Id Nivel
                    </th>
                    <th>
                        Tentativa
                    </th>
                    <th>
                        RespDada1
                    </th>
                    <th>
                        RespDada2
                    </th>
                    <th>
                        RespDada3
                    </th>
                    <th>
                        RespDada4
                    </th>
                    <th>
                        Tempo
                    </th>
                    <th>
                        Data
                    </th>
                </tr>
            </thead>

            @foreach (TreinoEnunNivelUserResp resp in ViewBag.userResps)
            {
                <tr>
                    <td> @resp.IdNivel </td>
                    <td> @resp.Tentativa </td>
                    <td> @resp.RespDada1 </td>
                    <td> @resp.RespDada2 </td>
                    <td> @resp.RespDada3 </td>
                    <td> @resp.RespDada4 </td>
                    <td> @resp.Tempo </td>
                    <td> @resp.Data </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>Não há respostas para este enunciado</p>
    }
</div>
