@model Pmat_PI.Models.Prova

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes da Prova</h1>
<hr />
<div>
    <div>
        <h3>Resultados:</h3>
        <div class="row">
            <div class="col">
                @if ((bool)ViewData["FileExists"] == true)
                {
                    <button type="button" class="btn btn-primary">Ver HTML</button>
                    <a asp-action="DeleteHTML" asp-route-id="@Model.Id" class="btn btn-danger">Apagar HTML</a>
                }
                else
                {
                    <a asp-action="GenerateHTML" asp-route-id="@Model.Id" class="btn btn-primary"> Gerar Html </a>
                }

            </div>
        </div>
    </div>

    <div style="padding-bottom:6%"></div>
    <h3>Detalhes:</h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProva) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeProva) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxEscolas) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxEscolas) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxTentJogo) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxTentJogo) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempoTotalJogo) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempoTotalJogo) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumNiveis) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumNiveis) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VidasPorNivel) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VidasPorNivel) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumElemsEquipa) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumElemsEquipa) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calculadora) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calculadora) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInscFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInscFinal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataProva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataProva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InicioPreInscricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InicioPreInscricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FimPreInscricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FimPreInscricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InicioInscricaoEquipas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InicioInscricaoEquipas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FimInscricaoEquipas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FimInscricaoEquipas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FimProva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FimProva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estilo) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estilo) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TreinoVisivel) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TreinoVisivel) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RefIdCicloEnsino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RefIdCicloEnsino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plataforma) <!-- -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plataforma) <!-- -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAuthorNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAuthorNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCompeticaoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCompeticaoNavigation.Etiqueta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
